/* BOTÓN FLOTANTE */
#btn-accesibilidad {
    position: fixed !important;
    top: 600px !important;
    right: 15px !important;
    width: 60px;
    height: 60px;
    background: #f28c28;
    border-radius: 10%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999 !important;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
   /* transform: translateX(100%);*/
    /*z-index: 1001;*/
    transition: right 0.3s ease;
}

#btn-accesibilidad img {
     width: 80%;
    height: auto;
}

/* PANEL */
#panel-accesibilidad {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 80vh;
    background: #ffffff;
    box-shadow: -4px 0 10px rgba(0,0,0,0.3);
    transform: translateX(100%);
    transition: 0.4s;
    z-index: 9998;
    display: flex;
    flex-direction: column;
}

#panel-accesibilidad.active {
    transform: translateX(0);
}


body {
    overflow-x: hidden;
}

.panel-header {
    background: linear-gradient(to right, #f6b73c, #f28c28);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.panel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    background: #ccc;
    flex: 1;
}

.panel-grid button {
    background: #ffffff;
    border: none;
    padding: 25px 10px;
    font-size: 14px;
    cursor: pointer;
}

.panel-grid button:hover {
    background: #d4d4d4;
}

.panel-footer {
    background: linear-gradient(to right, #f6b73c, #f28c28);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.panel-footer button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px !important;
    width:100%;
}

/*#panel-accesibilidad.activo + #btn-accesibilidad {
    right: 370px;
}
#btn-accesibilidad.mover {
    right: 370px;
}*/

/* RESPONSIVO */
@media (max-width: 768px) {
    #panel-accesibilidad {
        width: 80%;
        max-width: 320px;
    }
}
@media (max-width: 768px) {
    #btn-accesibilidad {
        width: 8vw;
        height: 8vw;
        max-width: 60px;
        max-height: 60px;
        min-width: 45px;
        min-height: 45px;
    }
}
/*.alto-contraste {
    background: black !important;
    color: yellow !important;
}
*/
.sin-animaciones * {
    animation: none !important;
    transition: none !important;
}
.icono-panel{
    width:80px;
    max-width:80px;
    height:auto;
}
#panel-accesibilidad button{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:6px;
    padding:15px;
    font-size:14px;
}
@media (max-width:600px){

    .icono-panel{
        width:35%;
        max-width:30px;
    }

    #panel-accesibilidad button{
        font-size:12px;
        padding:10px;
    }

}

