html{
    scroll-behavior: smooth;
}

section{
    scroll-margin-top:100px;
}
/* NAVBAR */
.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
}

/* BOTON HAMBURGUESA */
.menu-toggle{
display:none;
font-size:30px;
cursor:pointer;
position: absolute;
top:20px;
left:20px;
z-index:1000;
}

/* MENU NORMAL */
#navbar{
display:flex;
gap:25px;
align-items: center;
}

/* TEXTO A LA IZQUIERDA*/
#navbar a{
text-align:left;
width:100%;
}

/* RESPONSIVE */
@media (max-width:1050px){

#navbar{
display:none;
flex-direction:column;
position:absolute;
top:104px;
left:0;
background:white;
width:250px;
padding:20px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
transform: translateX(-100%);
transition: 0.3s;
}

#navbar.active{
display:flex;
transform: translateX(0);
}

.menu-toggle{
display:block;
}

}